h5 {
    font-family: unset !important;
}

table.table-design-default {
    border-bottom: 0px solid #F0F1F5 !important;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 1.6em;
    border-collapse: collapse;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
    overflow: hidden;
    background: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: unset !important;
}

.h30 {
    height: 30px;
}

#wrapper,
body,
html {
    background: #F5F6FA !important;
}

.table th {
    padding: 0.85rem !important;
    border-top: 1px solid #F0F1F5 !important;
}

#shedular {
    background: #fff !important;
}

.table tbody tr:first {
    border-top: unset !important;
}

tbody,
thead {
    border: 1px solid #F0F1F5 !important;
}

thead {
    border-bottom: unset !important;
}

/* table tr:hover{
    background-color: #44CAD61A;
} */
.card-body {
    padding: unset !important;
}

.card-footer {
    background-color: unset !important;
    padding: 0 10px !important;
}

.nav_list {
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
    background: white;
    font-weight: 400;
    position: fixed;
    border: 1px solid #F0F1F5 !important;
    width: 15%;
}

.nav_list li {
    border-bottom: 1px solid #F0F1F5 !important;
    padding: 10px;


}

.nav_list li a {
    color: #333333;
    border: none;
    font-weight: 400;
}

a.btn.btn-info.sms {
    margin-left: 5px;
}

a.btn.btn-success.adstaff {
    margin-right: 7px;
}

a.btn.btn-info.dd {
    margin-left: 6px;
}

.action {
    color: #49CBD8 !important;
}

/* table.table-design-default thead tr {
    background: #e7ebf2 !important;
} */

table.table-design-default thead tr th {
    font-weight: bold !important;
}

table.table-design-default thead tr td {
    color: #333333 !important;
    border: none;
    font-weight: 400 !important;
}

.tdbdnone tr td {
    border: unset !important;
}

.settingTable tr th {
    /* background-color: #F0F1F5; */
    font-size: 14px;
}

.editIcon a,
.editIcon {
    font-size: 12px !important;
    color: #49CBD8 !important;
}

.normal_Font tr th {
    font-size: unset !important;
}

.smallbox {
    margin-right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.mt-20 {
    margin-top: -20px !important;
}

body[data-sidebar-size=condensed] .logo span.logo-sm {
    background: #fff;
}

.card-box {
    box-shadow: 0px 5px 15px 0px rgba(0, 50, 50, 0.2) !important;

}

.action_btn {
    font-size: 10px !important;
    padding: 5px !important;

}

.navbar-custom,
.activeli {
    background-color: #E3F2DB !important;
    color: #000;
    border-left: 4px solid #7671E0;
}

.navbar-custom {
    border-left: unset !important;
}

body[data-sidebar-size=condensed] .left-side-menu #sidebar-menu>ul>li:hover>a span {
    display: none !important;
}

.navbar-custom,
.navbar-custom .app-search {

    height: 50px !important;
}

.logo-box {
    height: 50px !important;
}

.content-page {
    margin-top: 30px !important;
    padding: 0 0 65px 0 !important;
}

.navbar-custom .topnav-menu .nav-link {
    max-height: 50px !important;
}

.logo-box .logo {
    line-height: 50px !important;
}

.left-side-menu {
    top: 50px !important;
}

.navbar-custom .button-menu-mobile {
    color: #000 !important;

}

.navbar-custom .topnav-menu .nav-link {
    color: #000 !important;
    line-height: 50px !important;
}

.hidedisplay {
    display: none !important;
}

.left-side-menu {
    box-shadow: 0 0 0 1px rgba(154, 161, 171, 0.15) !important;
}

.navbar-custom .app-search .form-control {
    color: #000 !important;
    background-color: #fff !important;

}

.input-group-append .btn {
    color: #000 !important;
    background-color: #fff !important;
}

.navbar-custom .app-search {
    max-width: 100% !important;
}

.titlename {
    font-family: Tahoma;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 20px;
}

#sidebar-menu .menuitem-active>a {
    color: #000 !important;
}

body[data-sidebar-size=condensed] .left-side-menu #sidebar-menu>ul>li:hover>a {
    width: unset !important;
    color: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;

}

body[data-sidebar-size=condensed] .left-side-menu #sidebar-menu>ul>li:hover>a p {
    display: none !important;

}

#side-menu .menuitem-active {
    background-color: #E3F2DB;
}

body[data-sidebar-size=condensed]:not([data-layout=compact]) {
    min-height: calc(100vh - 94px) !important;
}


.footer {
    color: #000 !important;
    /* position: unset!important; */
}

.settingbottom {
    margin-top: -20px;
    color: #000 !important;
}


body[data-sidebar-size=condensed] .logo p.logo-sm {
    background: #FBFBFB !important;
}

.plusbtn img,
.feather-calendar {
    width: 20px;
    height: 20px;
}

#daily .user-detail,
#firstth {
    width: 1% !important;
}

#daily tr th {
    width: 1%;
}

#daily .user-detail img {
    width: 25px;
    height: 25px;
}

.close2 {
    color: red;
    width: 12px;
    height: 12px;
}

#sidebar-menu>ul {
    position: fixed;
}

.editprice tr td .form-control {
    font-size: 10px;
    padding: 2px;
}

.editprice tr td {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
}

.plusbtn {
    background-color: #E3F2DB !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 50, 50, 0.2);
    margin: 10px;
    border-radius: 10px !important;
    height: 30px;
}

.nav-second-level {
    margin-top: -50px;
}

.br10 {
    border-radius: 50px !important;
    margin-bottom: 1rem;
}

body,
.btn {
    font-size: 11px !important;
}

#Shift_types .btn-success {
    margin: unset !important;
}

.btn {
    padding: 5px 10px !important;
}

.card-footer .btn {
    padding: 5px 10px !important;
}

/* .formheading{
    background-color:#f2f3f7;
} */
.card {
    box-shadow: unset !important;
    background-color: unset !important;
}

.btn-defult {
    box-shadow: 0px 0px 5px 0px rgba(0, 50, 50, 0.2);
    margin: 10px;
    border-radius: 10px !important;
}

.mt5 {
    margin-top: -10px;
}

.footer {
    padding: 10px !important;
}

.schedularTable tr th {
    border-bottom: 1px solid #dee2e6;
    color: #6c757d !important;
    padding: 0 !important;
    font-size: 12px;
    line-height: 1;
}

.schedularTable tr th h2 {
    color: #6c757d !important;
    font-size: 20px;
    line-height: 0.5;
}

.schedularTable {
    border: 1px solid #dee2e6;
}

.schedularTable tr td {
    border: 1px solid #dee2e6;
    padding: 5px !important;
    vertical-align: middle;
}

.user-detail {
    width: 15%;
    padding: 8px !important;
    vertical-align: middle !important;
}

.more button {
    padding: unset !important;
}

.soical-icon .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: -9px;
}

.soical-icon img {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 28px !important;
}

.card-cal h5,
.card-cal p {
    line-height: 1;
}

.bold {
    font-weight: bold;
}

.line {
    margin: 0.5rem auto;
}

.w13 {
    width: 12%;
    vertical-align: middle !important;
}

.lightgreen {
    background-color: #E3F2DB !important;
}

.lightgreen .bold {
    color: #219653;
}

.lightgreen .line {
    border-color: #219653;
}

.lightblue {
    background-color: #E3F0F8 !important;
}

.lightblue .bold {
    color: #81A6F3;
}

.lightblue .line {
    border-color: #81A6F3;
}

.lightyellow {
    background-color: #FDF9E5 !important;
}

.lightyellow .bold {
    color: #F5D555;
}

.lightyellow .line {
    border-color: #F5D555;
}

.lightred {
    background-color: rgb(219, 175, 192)!important;
}

.lightred .bold {
    color: #cbc5c7;
}

.lightred .line {
    border-color: #bdabac;
}

.lightorange {
    background-color: #efe9fe !important;
}

.lightorange .bold {
    color: #800080;
}

.lightorange .line {
    border-color: #800080;
}

.card-cal {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 50, 50, 0.2);
}

.displayblock {
    display: block !important;
}

.w10 {
    width: 5%;
    vertical-align: middle !important;
}

/* .table_wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;

} */
#Fortnighty .user-detail {
    width: 5%;
}

#Fortnighty .user-detail h5,
#daily .user-detail h5 {
    font-size: 14px;
}

#Fortnighty .user-detail img {
    width: 25px;
    height: 25px;
}

#Fortnighty .user-detail p {
    font-size: 10px;
}

#Fortnighty .soical-icon img,
#daily .soical-icon img {
    width: 17px !important;
}

#Fortnighty .soical-icon .float-right img,
#daily .soical-icon .float-right img {
    margin-top: 10px;
}

#Fortnighty .card-cal p,
#daily .card-cal p {
    font-size: 8px;
}

#Fortnighty .card-cal h5,
#daily .card-cal h5 {
    font-size: 11px;
}

#Fortnighty .card-cal {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 50, 50, 0.2);
}

/* #Fortnighty .line {
    margin: 0 auto;
} */


/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    #thisWeek .soical-icon img {
        width: 16px !important;
    }

    #Fortnighty .soical-icon img {
        width: 12px !important;
    }

    .line {
        margin: 0.3rem auto;
    }

    .soical-recive {
        margin-top: 5px;
    }

    .user-detail img {
        height: 23px;
        width: 23px;
    }

    #thisWeek .soical-recive {
        margin-top: 4px;
    }

    #Fortnighty .soical-recive {
        margin-top: -17px;
    }

    #thisWeek .card-cal p {
        font-size: 8px;
    }

    h2,
    .h2 {
        font-size: 1rem !important;
    }

    .btn-defult {
        padding: 3px 3px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    #thisWeek .soical-icon img {
        width: 16px !important;
    }

    #thisWeek .card-cal p {
        font-size: 8px;
    }

    #Fortnighty .soical-icon img,
    #daily .soical-icon img {
        width: 13px !important;
    }

    .line {
        margin: 0.3rem auto;
    }

    .user-detail img {
        height: 32px;
        width: 32px;
    }

    #thisWeek .soical-recive {
        margin-top: 4px;
    }

    #Fortnighty .soical-recive,
    #daily .soical-recive {
        margin-top: 2px;
    }

    .schedularTable tr th {
        font-size: 10px;
    }

    h2,
    .h2 {
        font-size: 1rem !important;
    }

    .btn-defult {
        padding: 3px 3px !important;
    }

    .btn {
        font-size: 12px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #thisWeek .soical-icon img {
        width: 20px !important;
    }

    #Fortnighty .soical-icon img,
    #daily .soical-icon img {
        width: 15px !important;
    }

    .line {
        margin: 0.3rem auto;
    }

    .soical-recive {
        margin-top: -17px;
    }

    .user-detail img {
        height: 32px;
        width: 32px;
    }

    #thisWeek .card-cal p {
        font-size: 8px;
    }

    h2,
    .h2 {
        font-size: 1.2rem !important;
    }

    .btn-defult {
        padding: 5px 5px !important;
    }

    #thisWeek .soical-recive {
        margin-top: 4px;
    }

    #Fortnighty .soical-recive,
    #daily .soical-recive {
        margin-top: 4px;
    }

    #Fortnighty .user-detail,
    #daily .user-detail {
        width: 2%;
    }

    #Fortnighty .card-cal p,
    #daily .card-cal p {
        margin-bottom: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    #Fortnighty .card-cal p {
        font-size: 8px;
    }

    #Fortnighty .user-detail {
        width: 3%;
    }

    #Fortnighty .card-cal p {
        margin-bottom: 0;
    }

    .line {
        margin: 0.5rem auto;
    }

    .soical-icon img {
        width: 20px !important;
    }

    .user-detail img {
        height: 32px;
        width: 32px;
    }

    #thisWeek .card-cal p {
        font-size: 10px;
    }

    h2,
    .h2 {
        font-size: 1.5rem !important;
    }

}